<table class="table table-bordered table-customize table-responsive">
  <thead>
      <tr>
          <th>Task</th>
          <th>Category</th>
          <th>Point</th>
          <th>Time0</th>
          <th>Time1</th>
          <th>Time2</th>
          <th>Time3</th>
          <th>Time4</th>
          <th>Time5</th>
          <th>Time6</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td data-title="Task"><a href="/task/138">The Very Beginning</a></td>
          <td data-title="Category">Logic Game</td>
          <td data-title="Point">10</td>
          <td data-title="Time0">2016-06-18 10:22:45</td>
          <td data-title="Time1">test01</td>
          <td data-title="Time2">test02</td>
          <td data-title="Time3">test03</td>
          <td data-title="Time4">test04</td>
          <td data-title="Time5">test05</td>
          <td data-title="Time6">test06</td>
      </tr>

      <tr>
          <td data-title="Task"><a href="/task/100">The Dead Clock</a></td>
          <td data-title="Category">Logic Game</td>
          <td data-title="Point">20</td>
          <td data-title="Time">2016-06-18 11:12:44</td>
          <td data-title="Time1">test01</td>
          <td data-title="Time2">test02</td>
          <td data-title="Time3">test03</td>
          <td data-title="Time4">test04</td>
          <td data-title="Time5">test05</td>
          <td data-title="Time6">test06</td>
      </tr>

      <tr>
          <td data-title="Task"><a href="/task/101">The Fotation</a></td>
          <td data-title="Category">Logic Game</td>
          <td data-title="Point">20</td>
          <td data-title="Time">2016-06-18 11:13:11</td>
          <td data-title="Time1">test01</td>
          <td data-title="Time2">test02</td>
          <td data-title="Time3">test03</td>
          <td data-title="Time4">test04</td>
          <td data-title="Time5">test05</td>
          <td data-title="Time6">test06</td>
      </tr>

      <tr>
          <td data-title="Task"><a href="/task/107">Hello world!</a></td>
          <td data-title="Category">Logic Game</td>
          <td data-title="Point">10</td>
          <td data-title="Time">2016-06-18 18:10:32</td>
          <td data-title="Time1">test01</td>
          <td data-title="Time2">test02</td>
          <td data-title="Time3">test03</td>
          <td data-title="Time4">test04</td>
          <td data-title="Time5">test05</td>
          <td data-title="Time6">test06</td>
      </tr>

      <tr>
          <td data-title="Task"><a href="/task/137">Picking CEO</a></td>
          <td data-title="Category">Logic Game</td>
          <td data-title="Point">5</td>
          <td data-title="Time">2016-06-20 10:30:03</td>
          <td data-title="Time1">test01</td>
          <td data-title="Time2">test02</td>
          <td data-title="Time3">test03</td>
          <td data-title="Time4">test04</td>
          <td data-title="Time5">test05</td>
          <td data-title="Time6">test06</td>
      </tr>
  </tbody>
</table>