<!-- 
 <div style="overflow:auto;">
  <div class="table-responsive">
    <table class="table table-hover table-sm">
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let item of getyeucau">
         <td style="width:71px;">{{item.id}}</td>
         <td style="width:102px;">{{item.thoigianyeucau |date:'dd/MM/yyyy'}}</td>
         <td style="width:74px;">{{item.thoigianyeucau | date:'HH:mm'}}</td>
         <td style="width:72px;">{{item.bophan}}</td>
         <td style="width:130px;"><a routerLink="/home/yeucau/edit/{{item.id}}">{{item.tenyeucau}}</a></td>
         <td style="width:152px;">{{item.sanpham}}</td>
         <td style="width:102px;">{{item.loaiyeucau}}</td>
         <td style="width:142px;">{{item.loaiphim}}</td>
         <td style="width:102px;">{{item.may}}</td>
         <td style="width:62px;">{{item.sobo}}</td>
         <td style="width:61px;">{{item.x}}</td>
         <td style="width:63px;">{{item.y}}</td>
         <td style="width:122px;">{{item.nguoiyeucauid}}</td>
         <td style="width:154px;">{{item.noidungchitiet}}</td>
         <td style="width:100px;">{{item.xacnhan}}</td>
         <td style="width:145px;">{{item.thoigianxacnhan}}</td>
         <td style="width:150px;">{{item.ghichu}}</td>
         <td style="width:124px;">123{{item.samphamid}}</td>
         
     </tr>
      </tbody>
    </table>
  </div>
 </div>
  -->

  <!-- <form [formGroup]="formUser" novalidate (ngSubmit)="save(formUser)">
    <div class="row">
      <div class="col-md-9">
        <label for="avatar">Avatar</label>
        <input name="file" type="file" (change)="onFileChange($event)">
        <input type="hidden" name="fileHidden" formControlName="avatar">  
        <button type="submit" class="btn-save">save changes</button>
      </div>
    </div>
  </form> -->