<form style="margin-left: 250px" [formGroup]="addyeucau" (ngSubmit)="onAddyeucau()">
  <table class="table-no-bordered">
    <tr>
      <td><input type="hidden" [(ngModel)]="idsanpham" formControlName="samphamid"></td>
    </tr>
    <tr>
      <td><input type="hidden" [(ngModel)]="idloaiphim" formControlName="loaiphimid"></td>
    </tr>
    <tr>
      <td><input type="hidden" [(ngModel)]="idmay" formControlName="mayid"></td>
    </tr>
    <tr>
      <td><input type="hidden" [(ngModel)]="tylecodinh" formControlName="tilycodinh"></td>
    </tr>
    <tr>
      <td><input type="hidden" [(ngModel)]="soluong" formControlName="sobo"></td>
    </tr>
    <tr>
      <td>
        <select name="tyle" id="inputtyle" class="form-control" (change)="onTyLe($event.target.value)">
            <option disabled selected hidden>--Tỷ Lệ--</option>
            <option value=0>Tỷ Lệ Theo Yêu Cầu</option>
            <option value=1>Tỷ Lệ Cố Định</option>
        </select>
      </td>
      <td><input style="width:90px" type="text" class="form-control" [(ngModel)]="tylex" formControlName="x" placeholder="tỷ lệ x"></td>
      <td><input style="width:90px; margin-left:-93px" type="text" class="form-control" [(ngModel)]="tyley" formControlName="y" placeholder="tỷ lệ y"></td>
    </tr>
    <tr>
      <td><label>Nội Dung Chi Tiết</label></td>
      <td><input type="text" class="form-control" formControlName="noidungchitiet" placeholder="nội dung"></td>
    </tr>
    <tr>
      <td><label>Ghi Chú</label></td>
      <td><input type="text" class="form-control" formControlName="ghichu" placeholder="ghi chú"></td>
    </tr>
    <tr>
      <td><label>Tài Liệu Đính Kèm</label></td>
      <td><input type="text" class="form-control" formControlName="tailieudinhkem" placeholder="tài liệu đính kèm"></td>
    </tr>
    <tr>
        <td><label>Số lượng</label></td>
        <td>
          <select name="soluong" id="inputsoluong" class="form-control" (change) = "onEvent($event.target.value)">
            <option value="" disabled selected hidden>-- Select One --</option>
            <option value=1>1</option>
            <option value=2>2</option>
            <option value=3>3</option>
          </select>
        </td>
        <td>{{soluong}}</td>
        <td>{{tam}}</td>
      </tr>
  </table>
  <tr>
    <td>
        <button type="submit" [disabled]="!addyeucau.valid" class="btn btn-primary">Submit</button>
    </td>
    <td>
        <p style="color: red">{{Message}}</p>
    </td>
  </tr>
</form>
